<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="componentes/padre.js"></script>
    <script src="componentes/hijo.js"></script>
    <title>M.10.2.2</title>
</head>

<body>
    <div class="container mt-3 text-center">

        <img src="/img/vue.png" class="w-25" alt="">
        <div style="display:flex; flex-direction: column; align-items: center;"
            class="container mt-2 pt-3 pb-3 bg-secondary border  border-success">

            <h5>Componente Pare</h5>
            <div id="app" class="container mt-2" style="display:flex; flex-direction: column; align-items: center;">
                <mensaje></mensaje>


            </div>
        </div>
        <script src="componentes/app.js"></script>
</body>

</html>